.apartListContainer,
.userInfoContainer {
	height: 100%;
	padding: 15px;
}
.apartListContainer {
	width: 80%;
}
.apartListContainer::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 80%;
	height: 99%;
	border: 1px solid black;
	border-radius: 5px;
	width: 7px;
	box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	transform: translateY(-50%); /* Shift the element up by half of its height */
}
.addNewBtnContainer {
	width: 100%;
	display: flex;
	justify-content: end;
}
.addNewApartment > img {
	margin-left: 5px;
}
.avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}
.avatar img {
	width: 100%;
	height: 100%;
}
.backBtn,
.addNewApartment {
	text-decoration: none;
	padding: 5px 10px;
	background-color: black;
	border-radius: 15px;
	color: white;
	font-size: calc(0.7em + 1vw);
	font-weight: bold;
	transition: all 100ms ease;
}
.updateBtn,
.deleteBtn {
	margin: 0 5px;
	padding: 5px 10px;
	font-size: calc(1vw + 0.5rem);
	font-weight: 700;
	font-style: italic;
	border: none;
	background-color: #ffffff00;
	z-index: 10;
	transition: all ease-in 0.2s;
}
.deleteBtn {
	color: red;
}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
}
.itemContainer {
	margin: 0 auto;
	position: relative;
	width: 100%;
	max-width: 450px;
	display: flex;
	flex-direction: column;
	background: radial-gradient(
				circle at 100% 100%,
				#ffffff 0,
				#ffffff 3px,
				transparent 3px
			)
			0% 0%/8px 8px no-repeat,
		radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
			100% 0%/8px 8px no-repeat,
		radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
			0% 100%/8px 8px no-repeat,
		radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100%
			100%/8px 8px no-repeat,
		linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
			calc(100% - 16px) no-repeat,
		linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
			calc(100% - 10px) no-repeat,
		linear-gradient(
			100deg,
			#040404 0%,
			rgba(23, 16, 5, 1) 22%,
			rgba(67, 44, 8, 1) 63%,
			#9c650d 100%
		);
	border: 1px solid black;
	border-radius: 8px;
	padding: 15px;
	justify-content: space-between;
}
.itemContainer:hover {
	animation: gradientAnimation 0.5s ease-in-out 0s 1 normal forwards;
}
.itemContainer:not(:hover) {
	animation: gradientAnimationReverse 0.5s ease-in-out forwards;
}

.itemList {
	position: relative;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

	margin-top: 5vh;
	width: 100%;
	display: grid;
	place-content: center;
	gap: 5px;
}

.itemDeleteBtnContainer {
	display: flex;
	justify-content: end;
	padding: 15px;
}

.itemContainer img {
	min-height: 300px;
	border-radius: 15px;
	object-fit: contain;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.itemContainer p {
	font-size: calc(0.7rem + 1vw);
	font-weight: 500;
}

.itemContainer h1 {
	font-size: calc(1vw + 1em);
	font-weight: 700;
}
.itemContainer span {
	font-size: calc(1vw + 0.5em);
	font-weight: 900;
}
.userInfoContainer {
	height: 100vh;
	width: 20%;
	padding-top: 15px;
	position: sticky;
	top: 0;
}
.userCard {
	width: 100%;
	border: 1px solid rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 15px;
	border-radius: 15px;
	background-color: rgb(243, 241, 238);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}
.userData {
	width: 100%;
	margin-top: 10px;
}
.userCard p {
	font-weight: 500;
	width: 100%;
	word-wrap: break-word;
	font-size: 1em;
}
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100vh;
	height: 100%;
	display: flex;

	flex-direction: row;
	background-color: white;
}
@media (max-width: 992px) {
	.wrapper {
		flex-direction: column;
	}
	.apartListContainer,
	.userInfoContainer {
		width: 100%;
	}
	.userInfoContainer {
		height: auto;
	}
	.apartListContainer {
		height: 80%;
	}
	.apartListContainer::after {
		top: auto;
		height: 5px;
		width: 90%;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	.userInfoContainer {
		order: 1;
		position: relative;
	}
	.apartListContainer {
		order: 2;
	}
}
@media (hover: hover) {
	.backBtn:hover,
	.addNewApartment:hover {
		background-color: rgb(95, 95, 95);
	}
	.deleteBtn:hover {
		border-radius: 15px;
		background-color: rgb(230, 202, 202);
	}
	.updateBtn:hover {
		border-radius: 15px;
		background-color: rgba(95, 78, 62, 0.52);
	}
	.itemContentContainer:hover {
		background-color: rgb(229, 231, 233);
		cursor: pointer;
	}
}
@media (hover: none) {
	.backBtn:active,
	.addNewApartment:hover {
		background-color: rgb(95, 95, 95);
	}
	.deleteBtn:active {
		border-radius: 15px;
		background-color: rgb(230, 202, 202);
	}
	.itemContentContainer:hover {
		background-color: rgb(229, 231, 233);
	}
}
@keyframes gradientAnimation {
	0% {
		background: radial-gradient(
					circle at 100% 100%,
					#ffffff 0,
					#ffffff 3px,
					transparent 3px
				)
				0% 0%/8px 8px no-repeat,
			radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 0%/8px 8px no-repeat,
			radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
				0% 100%/8px 8px no-repeat,
			radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 100%/8px 8px no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
				calc(100% - 16px) no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
				calc(100% - 10px) no-repeat,
			linear-gradient(
				100deg,
				#040404 0%,
				rgba(23, 16, 5, 1) 22%,
				rgba(67, 44, 8, 1) 63%,
				#9c650d 100%
			);
	}
	10% {
		background: radial-gradient(
					circle at 100% 100%,
					#ffffff 0,
					#ffffff 3px,
					transparent 3px
				)
				0% 0%/8px 8px no-repeat,
			radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 0%/8px 8px no-repeat,
			radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
				0% 100%/8px 8px no-repeat,
			radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 100%/8px 8px no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
				calc(100% - 16px) no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
				calc(100% - 10px) no-repeat,
			linear-gradient(
				120deg,
				#040404 0%,
				rgba(23, 16, 5, 1) 22%,
				rgba(67, 44, 8, 1) 63%,
				#9c650d 100%
			);
	}
	20% {
		background: radial-gradient(
					circle at 100% 100%,
					#ffffff 0,
					#ffffff 3px,
					transparent 3px
				)
				0% 0%/8px 8px no-repeat,
			radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 0%/8px 8px no-repeat,
			radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
				0% 100%/8px 8px no-repeat,
			radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 100%/8px 8px no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
				calc(100% - 16px) no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
				calc(100% - 10px) no-repeat,
			linear-gradient(
				140deg,
				#040404 0%,
				rgba(23, 16, 5, 1) 22%,
				rgba(67, 44, 8, 1) 63%,
				#9c650d 100%
			);
	}
	30% {
		background: radial-gradient(
					circle at 100% 100%,
					#ffffff 0,
					#ffffff 3px,
					transparent 3px
				)
				0% 0%/8px 8px no-repeat,
			radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 0%/8px 8px no-repeat,
			radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
				0% 100%/8px 8px no-repeat,
			radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 100%/8px 8px no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
				calc(100% - 16px) no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
				calc(100% - 10px) no-repeat,
			linear-gradient(
				160deg,
				#040404 0%,
				rgba(23, 16, 5, 1) 22%,
				rgba(67, 44, 8, 1) 63%,
				#9c650d 100%
			);
	}
	40% {
		background: radial-gradient(
					circle at 100% 100%,
					#ffffff 0,
					#ffffff 3px,
					transparent 3px
				)
				0% 0%/8px 8px no-repeat,
			radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 0%/8px 8px no-repeat,
			radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
				0% 100%/8px 8px no-repeat,
			radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 100%/8px 8px no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
				calc(100% - 16px) no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
				calc(100% - 10px) no-repeat,
			linear-gradient(
				180deg,
				#040404 0%,
				rgba(23, 16, 5, 1) 22%,
				rgba(67, 44, 8, 1) 63%,
				#9c650d 100%
			);
	}
	50% {
		background: radial-gradient(
					circle at 100% 100%,
					#ffffff 0,
					#ffffff 3px,
					transparent 3px
				)
				0% 0%/8px 8px no-repeat,
			radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 0%/8px 8px no-repeat,
			radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
				0% 100%/8px 8px no-repeat,
			radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 100%/8px 8px no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
				calc(100% - 16px) no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
				calc(100% - 10px) no-repeat,
			linear-gradient(
				200deg,
				#040404 0%,
				rgba(23, 16, 5, 1) 22%,
				rgba(67, 44, 8, 1) 63%,
				#9c650d 100%
			);
	}
	60% {
		background: radial-gradient(
					circle at 100% 100%,
					#ffffff 0,
					#ffffff 3px,
					transparent 3px
				)
				0% 0%/8px 8px no-repeat,
			radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 0%/8px 8px no-repeat,
			radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
				0% 100%/8px 8px no-repeat,
			radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 100%/8px 8px no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
				calc(100% - 16px) no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
				calc(100% - 10px) no-repeat,
			linear-gradient(
				220deg,
				#040404 0%,
				rgba(23, 16, 5, 1) 22%,
				rgba(67, 44, 8, 1) 63%,
				#9c650d 100%
			);
	}
	70% {
		background: radial-gradient(
					circle at 100% 100%,
					#ffffff 0,
					#ffffff 3px,
					transparent 3px
				)
				0% 0%/8px 8px no-repeat,
			radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 0%/8px 8px no-repeat,
			radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
				0% 100%/8px 8px no-repeat,
			radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 100%/8px 8px no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
				calc(100% - 16px) no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
				calc(100% - 10px) no-repeat,
			linear-gradient(
				240deg,
				#040404 0%,
				rgba(23, 16, 5, 1) 22%,
				rgba(67, 44, 8, 1) 63%,
				#9c650d 100%
			);
	}
	80% {
		background: radial-gradient(
					circle at 100% 100%,
					#ffffff 0,
					#ffffff 3px,
					transparent 3px
				)
				0% 0%/8px 8px no-repeat,
			radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 0%/8px 8px no-repeat,
			radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
				0% 100%/8px 8px no-repeat,
			radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 100%/8px 8px no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
				calc(100% - 16px) no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
				calc(100% - 10px) no-repeat,
			linear-gradient(
				260deg,
				#040404 0%,
				rgba(23, 16, 5, 1) 22%,
				rgba(67, 44, 8, 1) 63%,
				#9c650d 100%
			);
	}
	90% {
		background: radial-gradient(
					circle at 100% 100%,
					#ffffff 0,
					#ffffff 3px,
					transparent 3px
				)
				0% 0%/8px 8px no-repeat,
			radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 0%/8px 8px no-repeat,
			radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
				0% 100%/8px 8px no-repeat,
			radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 100%/8px 8px no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
				calc(100% - 16px) no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
				calc(100% - 10px) no-repeat,
			linear-gradient(
				280deg,
				#040404 0%,
				rgba(23, 16, 5, 1) 22%,
				rgba(67, 44, 8, 1) 63%,
				#9c650d 100%
			);
	}
	100% {
		background: radial-gradient(
					circle at 100% 100%,
					#ffffff 0,
					#ffffff 3px,
					transparent 3px
				)
				0% 0%/8px 8px no-repeat,
			radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 0%/8px 8px no-repeat,
			radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
				0% 100%/8px 8px no-repeat,
			radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 100%/8px 8px no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
				calc(100% - 16px) no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
				calc(100% - 10px) no-repeat,
			linear-gradient(
				300deg,
				#040404 0%,
				rgba(23, 16, 5, 1) 22%,
				rgba(67, 44, 8, 1) 63%,
				#9c650d 100%
			);
	}
}
@keyframes gradientAnimationReverse {
	0% {
		background: radial-gradient(
					circle at 100% 100%,
					#ffffff 0,
					#ffffff 3px,
					transparent 3px
				)
				0% 0%/8px 8px no-repeat,
			radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 0%/8px 8px no-repeat,
			radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
				0% 100%/8px 8px no-repeat,
			radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 100%/8px 8px no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
				calc(100% - 16px) no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
				calc(100% - 10px) no-repeat,
			linear-gradient(
				300deg,
				#040404 0%,
				rgba(23, 16, 5, 1) 22%,
				rgba(67, 44, 8, 1) 63%,
				#9c650d 100%
			);
	}
	10% {
		background: radial-gradient(
					circle at 100% 100%,
					#ffffff 0,
					#ffffff 3px,
					transparent 3px
				)
				0% 0%/8px 8px no-repeat,
			radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 0%/8px 8px no-repeat,
			radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
				0% 100%/8px 8px no-repeat,
			radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 100%/8px 8px no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
				calc(100% - 16px) no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
				calc(100% - 10px) no-repeat,
			linear-gradient(
				280deg,
				#040404 0%,
				rgba(23, 16, 5, 1) 22%,
				rgba(67, 44, 8, 1) 63%,
				#9c650d 100%
			);
	}
	20% {
		background: radial-gradient(
					circle at 100% 100%,
					#ffffff 0,
					#ffffff 3px,
					transparent 3px
				)
				0% 0%/8px 8px no-repeat,
			radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 0%/8px 8px no-repeat,
			radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
				0% 100%/8px 8px no-repeat,
			radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 100%/8px 8px no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
				calc(100% - 16px) no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
				calc(100% - 10px) no-repeat,
			linear-gradient(
				260deg,
				#040404 0%,
				rgba(23, 16, 5, 1) 22%,
				rgba(67, 44, 8, 1) 63%,
				#9c650d 100%
			);
	}
	30% {
		background: radial-gradient(
					circle at 100% 100%,
					#ffffff 0,
					#ffffff 3px,
					transparent 3px
				)
				0% 0%/8px 8px no-repeat,
			radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 0%/8px 8px no-repeat,
			radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
				0% 100%/8px 8px no-repeat,
			radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 100%/8px 8px no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
				calc(100% - 16px) no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
				calc(100% - 10px) no-repeat,
			linear-gradient(
				240deg,
				#040404 0%,
				rgba(23, 16, 5, 1) 22%,
				rgba(67, 44, 8, 1) 63%,
				#9c650d 100%
			);
	}
	40% {
		background: radial-gradient(
					circle at 100% 100%,
					#ffffff 0,
					#ffffff 3px,
					transparent 3px
				)
				0% 0%/8px 8px no-repeat,
			radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 0%/8px 8px no-repeat,
			radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
				0% 100%/8px 8px no-repeat,
			radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 100%/8px 8px no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
				calc(100% - 16px) no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
				calc(100% - 10px) no-repeat,
			linear-gradient(
				220deg,
				#040404 0%,
				rgba(23, 16, 5, 1) 22%,
				rgba(67, 44, 8, 1) 63%,
				#9c650d 100%
			);
	}
	50% {
		background: radial-gradient(
					circle at 100% 100%,
					#ffffff 0,
					#ffffff 3px,
					transparent 3px
				)
				0% 0%/8px 8px no-repeat,
			radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 0%/8px 8px no-repeat,
			radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
				0% 100%/8px 8px no-repeat,
			radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 100%/8px 8px no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
				calc(100% - 16px) no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
				calc(100% - 10px) no-repeat,
			linear-gradient(
				200deg,
				#040404 0%,
				rgba(23, 16, 5, 1) 22%,
				rgba(67, 44, 8, 1) 63%,
				#9c650d 100%
			);
	}
	60% {
		background: radial-gradient(
					circle at 100% 100%,
					#ffffff 0,
					#ffffff 3px,
					transparent 3px
				)
				0% 0%/8px 8px no-repeat,
			radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 0%/8px 8px no-repeat,
			radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
				0% 100%/8px 8px no-repeat,
			radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 100%/8px 8px no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
				calc(100% - 16px) no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
				calc(100% - 10px) no-repeat,
			linear-gradient(
				180deg,
				#040404 0%,
				rgba(23, 16, 5, 1) 22%,
				rgba(67, 44, 8, 1) 63%,
				#9c650d 100%
			);
	}
	70% {
		background: radial-gradient(
					circle at 100% 100%,
					#ffffff 0,
					#ffffff 3px,
					transparent 3px
				)
				0% 0%/8px 8px no-repeat,
			radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 0%/8px 8px no-repeat,
			radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
				0% 100%/8px 8px no-repeat,
			radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 100%/8px 8px no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
				calc(100% - 16px) no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
				calc(100% - 10px) no-repeat,
			linear-gradient(
				160deg,
				#040404 0%,
				rgba(23, 16, 5, 1) 22%,
				rgba(67, 44, 8, 1) 63%,
				#9c650d 100%
			);
	}
	80% {
		background: radial-gradient(
					circle at 100% 100%,
					#ffffff 0,
					#ffffff 3px,
					transparent 3px
				)
				0% 0%/8px 8px no-repeat,
			radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 0%/8px 8px no-repeat,
			radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
				0% 100%/8px 8px no-repeat,
			radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 100%/8px 8px no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
				calc(100% - 16px) no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
				calc(100% - 10px) no-repeat,
			linear-gradient(
				140deg,
				#040404 0%,
				rgba(23, 16, 5, 1) 22%,
				rgba(67, 44, 8, 1) 63%,
				#9c650d 100%
			);
	}
	90% {
		background: radial-gradient(
					circle at 100% 100%,
					#ffffff 0,
					#ffffff 3px,
					transparent 3px
				)
				0% 0%/8px 8px no-repeat,
			radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 0%/8px 8px no-repeat,
			radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
				0% 100%/8px 8px no-repeat,
			radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 100%/8px 8px no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
				calc(100% - 16px) no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
				calc(100% - 10px) no-repeat,
			linear-gradient(
				120deg,
				#040404 0%,
				rgba(23, 16, 5, 1) 22%,
				rgba(67, 44, 8, 1) 63%,
				#9c650d 100%
			);
	}
	100% {
		background: radial-gradient(
					circle at 100% 100%,
					#ffffff 0,
					#ffffff 3px,
					transparent 3px
				)
				0% 0%/8px 8px no-repeat,
			radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 0%/8px 8px no-repeat,
			radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
				0% 100%/8px 8px no-repeat,
			radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px)
				100% 100%/8px 8px no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
				calc(100% - 16px) no-repeat,
			linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
				calc(100% - 10px) no-repeat,
			linear-gradient(
				100deg,
				#040404 0%,
				rgba(23, 16, 5, 1) 22%,
				rgba(67, 44, 8, 1) 63%,
				#9c650d 100%
			);
	}
}
