.containerDate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
}
.containerDate p{
  margin: 0;
  white-space: nowrap;    
  overflow: hidden;       
  text-overflow: ellipsis;
    
}

.containerDate:active{
    border: 1px solid black;
    border-radius: 12px;
}
.item{
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 90%;
    height: 50px;
    white-space: nowrap; /* Запрещаем перенос текста */
    overflow: hidden; /* Скрываем текст, который не помещается в контейнер */
    text-overflow: ellipsis; /* Добавляем троеточие в конце обрезанного текста */
   
}
.itemLeft{
 margin-right: 20px;
}