.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    height: 100%;
    padding: 20px;
    padding-left: 10%;
    word-break: break-word;
    overflow-wrap: break-word;
  }
  .icon {
    margin-left: 20px;
    margin-right: 20px;
    width: 25px;
    height: 25px;
  }
  .textContainer {
    display: flex;
    flex-direction: column;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
 
  }
  .rightAlign {
    text-align: left !important;
    justify-content: stretch !important;
}
  .card1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 65px; 
    grid-column: 1;
    grid-row: 1;
    margin-top: 100px;
    margin-left: 30%;
    min-width: 350px;
    max-width: 400px;
    max-height: 250px;
  }
  .centerAlign {
    text-align: center !important;
  }
  .card2 {
    grid-column: 2;
    grid-row: 2;
    align-self: start;
    padding-top: 30px;
    max-width: 300px;
    max-height: 400px;
  }
  .circle img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .circle {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;
  }
  .card3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 65px; 
    grid-column: 1;
    grid-row: 1;
    margin-top: 0px; /* Изменено здесь */
    margin-left: 30%;
    min-width: 350px;
    max-width: 400px;
    max-height: 250px;
  }
  
  .card4 {
    grid-column: 2;
    grid-row: 2;
    align-self: start;
    padding-top: 0px; /* Изменено здесь */
    max-width: 300px;
    max-height: 400px;
  }
  
  .topMarginLine2 {
    margin-top: 0px; /* Изменено здесь */
    border-top: 1px solid lightgray;
  }
  .roundedShadow {
    border-radius: 20px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); 
  }
  
  .topMarginLine {
    margin-top: 60px; 
    border-top: 1px solid lightgray;
  }

  @media (max-width: 710px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      align-items: center;
      justify-content: center;
    }
  
    .card1, .card2 {
      grid-column: 1;
      grid-row: auto;
      margin-left: auto;
      margin-right: auto;
      min-height: 250px;
    }
  }