.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 200px; 
  box-sizing: border-box;
  font-family: var(--var-nunito), sans-serif;
}

.center{
  text-align: center;
}

.card {
  flex: 0 0 45%; 
  margin: 1em; 
  min-width: 500px;
  margin-bottom: 20px;
  overflow: auto;
  border-radius: 20px !important;
}
.carouselImage {
  overflow: hidden;
}

.carouselImage img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.carouselContainer {
  width: 300px; 
  height: 300px; 
  overflow: hidden; 
}
.cardBody {
  display: flex;
}

.carouselContainer {
  flex: 1;
}

.textContainer {
  flex: 1;
  padding: 0 20px;
}


@media (max-width: 1500px) {
  .container {
    padding: 0; 
    min-width: 500px;
    margin: 0 auto; 
    justify-content: flex-start;
    align-items: center;
  }

  .card {
    flex: 0 0 100%; 
    margin-left: 0; 
    margin-right: 0; 
    margin-bottom: 20px;
  }
}