.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.item{
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;
}
.item p{
    margin: 0;
    font-weight: 500;
}