.container{
    position: relative;
    bottom: 50px;
    left: 10%;
    @media (min-width: 750px) {left:70%;}
    @media (min-width: 850px) {left: 75%;}
    @media (min-width: 1050px) {left: 80%;}
    @media (min-width: 1350px) {left: 85%; }

}
.image{
    margin-bottom: 3px; 
    margin-right: 5px;
}

