.container{
  display: block;
  @media (min-width: 990px) {    display: flex;}
}
.item{
  margin-left: 10px;
  margin-top: 10px;
  width: 45%;
  @media (min-width: 990px) {   width: 23%;}
}
.checkboxButton {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  background-color: #ffffff; 
  border: 1px solid black;
  border-radius: 12px;
  font-weight: 700;
}

.checkboxButton input[type="checkbox"] {
  display: none; 
}

.checkboxButton input[type="checkbox"]:checked + span{
  border-radius: 12px;
  background-color: #c6c7c9; 
}

.checkboxButton span {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding-top: 50px;
  padding-left: 15px;
}

.image{
  margin: 15px;
  position: absolute;
}