.customText {
	@media (max-width: 575.98px) {
		text-align: center !important;
	}
	@media (min-width: 576px) {
		text-align: end !important;
	}
}
.customDisplayNone {
	@media (max-width: 575.98px) {
		display: none !important;
	}
}
.customTextCenter {
	font-family: var(--var-Inknut_Antiqua);
	font-size: 2rem;
	@media (max-width: 575.98px) {
		text-align: center !important;
	}
}
.textCenter {
	text-align: center;
}
.link {
	font-size: 0.8rem;
	color: var(--eerieBlack);
}
