.header {
	display: grid;
	align-items: center;
	width: 100%;
	grid-template-columns: 3fr 7fr 2fr 1fr;
	min-height: auto;
}
.searchBar {
	display: flex;
	justify-content: center;
}
.customText {
	display: grid;
	place-content: center;
}

.customTextCenter {
	font-family: var(--var-Inknut_Antiqua);
	font-size: 2rem;
}
.textCenter {
	text-align: center;
}
.link {
	padding: 0 5px 0 5px;
	text-decoration: none;
	text-align: center;
	font-size: 0.8rem;
	color: var(--eerieBlack);
	text-wrap: wrap;
}
.colorW {
	color: var(--gainsboro);
}

.logo {
	text-decoration: none;
	color: var(--eerieBlack);
	font-size: 2rem;
	font-family: var(--var-Inknut_Antiqua);
}
.logoBlack {
	color: var(--gainsboro);
}
.cursor {
	cursor: pointer;
}
.planet {
	text-align: center;
	cursor: pointer;
}

.flexCenter {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#flexHider {
	min-height: 70px;
}
.animate__animated {
	background-color: red;
	animation: searchToSmall 300ms ease;
}
@keyframes searchToSmall {
	from {
		margin: 3px;
		opacity: 1;
	}
	to {
		margin: 10px;
		opacity: 0;
	}
}
/* изменение цвета для хедер */
.headerBlaCk {
	background-color: var(--darkLava);
	color: var(--gainsboro);
}
.headerWhite {
	background-color: var(--gainsboro);
	color: var(--eerieBlack);
}
@media (max-width: 992px) {
	.header {
		min-height: auto !important;
	}
	.logo {
		font-size: 1.5rem;
	}
}
@media (min-width: 1200px) {
	.customText {
		text-wrap: wrap;
	}
	.link {
		text-wrap: wrap;
	}
}

@media (max-width: 576px) {
	.header {
		padding-top: 0 !important;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto auto auto;
	}
	.LogoContainer {
		display: grid;
		place-content: center;
	}
	.authBtn {
		display: grid;
		place-content: center;
		grid-area: 1/2;
	}
	.linkContainer {
		display: inline-block;
		text-align: center;
		grid-area: 2/1/2/-1;
	}
	.customText {
		padding: 10px 5px 10px 5px;
		display: inline-block;
		text-align: center;
	}
	.customText:active {
		border-radius: 5px;
		background-color: rgb(158, 161, 161);
	}
	.searchBar {
		grid-area: 3/1/3/-1;
	}
	.customText {
		text-align: center !important;
	}
	.customDisplayNone {
		display: none !important;
	}
	.customTextCenter {
		text-align: center !important;
	}
}
