.main {
	position: relative;
	display: flex;
	align-items: center;
	border-radius: 25px;
	font-size: 0.75rem;
	text-wrap: nowrap;
}
.colorMainTextWhite {
	color: var(--gainsboro);
}
.colorMainTextBlack {
	color: var(--eerieBlack) !important;
}
.borderBlack {
	border: 1px solid var(--eerieBlack);
}
.borderWhite {
	border: 1px solid var(--gainsboro);
}
.pText {
	color: var(--eerieBlack);
	font-weight: 600;
	font-size: 1, 2dvh;
}
.colorTextBlackThem {
	color: var(--gainsboro);
}
.colorTwo {
	color: #8a8278;
	font-size: 1.5dvh;
}
.cursor {
	cursor: pointer;
}
.borderRightBlack:hover,
.borderRightWhite:hover {
	border: none;
}
.borderRightBlack {
	border-right: 1px solid var(--eerieBlack);
}
.borderRightWhite {
	border-right: 1px solid var(--gainsboro);
}

.search {
	width: 55px !important;
	height: 55px;
	background-color: var(--boyRed);
	border-radius: 50px;
}
.resetButton {
	background: none;
	border: none;
	width: 100%;
	height: 100%;
	border-radius: 25px 25px 25px 25px;
}
.counterBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	border: 1px solid var(--boyRed);
}
.btnStyle {
	background: none;
}
.btnStyle:hover {
	border: none;
	border-radius: 25px 25px 25px 25px;
	background-color: rgba(135, 135, 135, 0.561);
}
.btnBlackBacActive {
	color: black;
	background: var(--gainsboro);
}
.btnBlackBac {
	color: var(--gainsboro);
	background: none;
}
.inputReset {
	appearance: none;
	-webkit-appearance: none; /* For older versions of WebKit browsers */
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-shadow: none;
	background-color: transparent;
	color: var(--eerieBlack);
}
.dNone {
	display: none;
}
.actionWhereDropDawnOn,
.actionWhoDropDawnOn,
.whereOptionDropDawnBlok,
.whenDropDawn {
	position: absolute;
	border: 1px solid var(--eerieBlack);
	border-radius: 15px;
	top: 90px;
	z-index: 999;
	padding: 15px;
	text-align: start;
	background-color: white;
	font-weight: 600;
	font-size: 12px;
	color: var(--eerieBlack);
}
.actionWhereDropDawnOn {
	left: 0;
}
.actionWhoDropDawnOn {
	right: 0;
}
.whereOptionDropDawnBlok {
	left: 0;
	width: 25%;
}
.whenDropDawn {
	left: 0;
	right: 0;
	display: grid;
	place-content: center;
}
.imageDis {
	margin-top: 5px;
}
.imgDiv {
	border: 1px solid white;
	border-radius: 15px;
	overflow: hidden;
}
.imgDiv:hover {
	border: 1px solid black;
}

.dropDawnImgClickAnimation {
	animation: smallAnim 150ms ease;
}
@keyframes smallAnim {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0.8);
		opacity: 0;
	}
}
.animateBigToSmall {
	animation: searchToSmall 150ms ease;
}
@keyframes searchToSmall {
	0% {
		transform: scale(1);
		opacity: 1;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Example of adding box-shadow */
	}
	50% {
		transform: scale(0.75); /* Intermediate scale step */
		opacity: 0.5;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Reducing box-shadow */
	}
	100% {
		transform: scale(0.5);
		opacity: 0;
		box-shadow: none; /* Removing box-shadow */
	}
}
