:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	/*Цвета с дизайна добавленные в качестве css переменных*/
	--eerieBlack: #211e1a;
	--boyRed: #6f6558;
	--darkLava: #433d35;
	--gainsboro: #d7d9dd;
}
@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}
body {
	color: var(--eerieBlack);
	font-family: var(--var-nunito), sans-serif;
	background-color: var(--boyRed);
}
.header-Main {
	background-color: var(--gainsboro);
}

.custom-dropdown-toggle::after {
	display: none !important;
}
.link-Reset {
	text-decoration: none;
	color: var(--eerieBlack);
}
