.main {
	position: relative;
	display: flex;
	flex-direction: row;
	height: 80vh;
	margin: 10px;
}
.itemTopCon {
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	min-width: 60%;
}
.itemList {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.searchNoResult {
	grid-column-start: 1;
	grid-column-end: 5;
	text-align: center;
	margin-top: 10px;
}
.item {
	position: relative;
	max-width: 100%;
	min-width: 50%;
}
.mapContainer {
	position: relative;
	display: block;
	max-width: 100%;
	min-width: 40%;
	height: 100%;
}
.spinnerContainer {
	grid-column-start: 1;
	grid-column-end: 5;
	display: grid;
	place-content: center;
	background-color: #bdbdbd;
	width: 100%;
	height: 100%;
}
.spinnerContainer img {
	width: 100%;
	height: 100%;
}
.spinnerContainer p {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
}
.btnCont {
	display: flex;
	justify-content: center;
}

.itemTopCon::-webkit-scrollbar {
	width: 12px;
}

.itemTopCon::-webkit-scrollbar-track {
	border-radius: 8px;
	background-color: #ffffff;
	border: 1px solid #ffffff;
}

.itemTopCon::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: #363636;
}
@media (max-width: 1900px) {
	.itemList {
		grid-template-columns: repeat(3, 1fr);
	}
	.searchNoResult {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.spinnerContainer {
		grid-column-start: 1;
		grid-column-end: 4;
	}
}
@media (max-width: 1200px) {
	.main {
		flex-direction: column;
		margin: 10px;
	}
	.itemTopCon {
		max-width: 100%;
		order: 2;
	}
	.itemList {
		grid-template-columns: repeat(4, 1fr);
	}
	.searchNoResult {
		grid-column-start: 1;
		grid-column-end: 5;
	}
	.spinnerContainer {
		grid-column-start: 1;
		grid-column-end: 5;
	}

	.mapContainer {
		min-height: 37vh;
	}
}
@media (max-width: 922px) {
	.itemList {
		grid-template-columns: repeat(3, 1fr);
	}
	.mapContainer {
		display: none;
	}
	.searchNoResult {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.spinnerContainer {
		grid-column-start: 1;
		grid-column-end: 4;
	}
}
@media (max-width: 768px) {
	.itemList {
		grid-template-columns: repeat(2, 1fr);
	}
	.searchNoResult {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.spinnerContainer {
		grid-column-start: 1;
		grid-column-end: 3;
	}
}
@media (max-width: 576px) {
	.itemList {
		grid-template-columns: repeat(1, 1fr);
	}
}
