.wrapper {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}
.textBlock {
	position: relative;
	display: grid;
	place-content: center;
	padding: 10px;
}
.textBlock > h1 {
	font-size: 3rem;
}
.textBlock > p {
	font-size: 1.5rem;
}

.videoBox {
	max-width: 100%;
	min-width: 50%;
}
.firstBtn {
	margin-left: 50px;
	grid-column: 1;
}
.secondBtn {
	margin-right: 50px;
	grid-column: -1;
}
