.btn {
	width: 75px;
	height: 100%;
	border-radius: 20px 20px 20px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	transition: box-shadow 300ms;
}
.btnWhite {
	border: 1px solid var(--eerieBlack);
	background-color: var(--gainsboro);
}
.btnWhite:hover {
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.51);
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.51);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.51);
}
.btnBlack {
	border: 1px solid var(--darkLava);
	background-color: var(--boyRed);
}
.btnBlack:hover {
	box-shadow: 0px 2px 5px 0px rgba(169, 168, 168, 0.51);
	-webkit-box-shadow: 0px 2px 5px 0px rgba(169, 168, 168, 0.51);
	-moz-box-shadow: 0px 2px 5px 0px rgba(169, 168, 168, 0.51);
}
.itemFont {
	font-family: var(--var-nunito), sans-serif;
}

.modalTitle {
	font-family: var(--var-Inknut_Antiqua), serif;
	font-size: 15px;
	color: #333;
	text-align: center;
}

.welcomeMessage {
	font-family: var(--var-nunito), serif;
	font-size: 25px;
	color: #333;
}

.formControl {
	font-family: var(--var-nunito), sans-serif;
	font-size: 16px;
	color: #333;
}

.submitButton {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
}

.googleButton {
	justify-content: center;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.datepicker-height .react-datepicker__input-container input {
	height: 50px;
  }

  .form-floating.is-focused .form-control {
	border-color: #ced4da;
	outline: 0;
	box-shadow: none;
  }
  
  .form-floating.is-focused .form-control:not(:placeholder-shown) {
	padding-top: 1.625rem;
	padding-bottom: .625rem;
  }
  
  .form-floating.is-focused label {
	top: -.5rem;
	left: .75rem;
	font-size: .875em;
	color: #495057;
  }
  .form-control:invalid::placeholder {
	color: red;
  }
  .form-control:invalid::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: red;
	opacity: 1; /* Firefox */
  }
  
  .form-control:invalid::-ms-input-placeholder { /* Microsoft Edge */
	color: red;
  }
  
  .input-invalid::placeholder {
	color: red !important;
  }
  .input-invalid::-webkit-input-placeholder {
	color: red !important;
  }
  .input-invalid::-moz-placeholder {
	color: red !important;
  }
  .input-invalid:-ms-input-placeholder {
	color: red !important;
  }
  .text-muted.small {
	font-size: 10% !important;
	margin-top: -10px !important;
  }

  .input-error::placeholder {
	color: red;
  }

